<plugin name='nimble' version='0.1' grailsVersion='1.1 &gt; *'>
  <author>Bradley Beddoes (Intient Pty Ltd) + Open Source Contributors</author>
  <authorEmail>nimbleproject@googlegroups.com</authorEmail>
  <title>Nimble</title>
  <description>\
    Nimble is an extensive application base environment for Grails developers.
    </description>
  <documentation>http://intient.com/oss/nimble</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>DataSource</resource>
    <resource>NimbleBootStrap</resource>
    <resource>NimbleConfig</resource>
    <resource>NimbleFilterBase</resource>
    <resource>NimbleSecurityFilters</resource>
    <resource>RecaptchaConfig</resource>
    <resource>spring.resources</resource>
    <resource>UrlMappings</resource>
    <resource>intient.nimble.controller.AccountController</resource>
    <resource>intient.nimble.controller.AdminsController</resource>
    <resource>intient.nimble.controller.AuthController</resource>
    <resource>intient.nimble.controller.GroupController</resource>
    <resource>intient.nimble.controller.MainController</resource>
    <resource>intient.nimble.controller.RoleController</resource>
    <resource>intient.nimble.controller.UserController</resource>
    <resource>intient.nimble.domain._Group</resource>
    <resource>intient.nimble.domain.Details</resource>
    <resource>intient.nimble.domain.FederationProvider</resource>
    <resource>intient.nimble.domain.Feed</resource>
    <resource>intient.nimble.domain.Language</resource>
    <resource>intient.nimble.domain.LevelPermission</resource>
    <resource>intient.nimble.domain.LoginHost</resource>
    <resource>intient.nimble.domain.Permission</resource>
    <resource>intient.nimble.domain.PermissionAware</resource>
    <resource>intient.nimble.domain.Profile</resource>
    <resource>intient.nimble.domain.Role</resource>
    <resource>intient.nimble.domain.SocialMediaAccount</resource>
    <resource>intient.nimble.domain.SocialMediaService</resource>
    <resource>intient.nimble.domain.Url</resource>
    <resource>intient.nimble.domain.User</resource>
    <resource>intient.nimble.realms.FacebookRealm</resource>
    <resource>intient.nimble.realms.LocalizedRealm</resource>
    <resource>intient.nimble.realms.OpenIDRealm</resource>
    <resource>intient.nimble.service.AdminsService</resource>
    <resource>intient.nimble.service.FacebookService</resource>
    <resource>intient.nimble.service.GroupService</resource>
    <resource>intient.nimble.service.OpenIDService</resource>
    <resource>intient.nimble.service.PermissionService</resource>
    <resource>intient.nimble.service.RoleService</resource>
    <resource>intient.nimble.service.UserService</resource>
    <resource>NimbleAuthTagLib</resource>
    <resource>NimbleTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='ki' version='0.1' />
    <plugin name='mail' version='0.5' />
  </dependencies>
</plugin>