.tip { color: #fff; width: 250px; z-index: 13000; }
.tip-title { font-weight: bold; font-size: 11px; margin: 0; color: #9FD4FF; padding: 8px 8px 4px; background: url(bubble.png) top left; }
.tip-text { font-size: 11px; padding: 4px 8px 8px; background: url(bubble.png) bottom right; }
