.error { -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 116.667%; margin: 3px; padding: 6px; font-weight: normal; background-color: #ffbaba; border: 1px solid #ffbaba; color: #D8000C; }
.error p { margin: 2px; }

.information { -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 116.667%; margin: 3px; padding: 6px; font-weight: normal; background-color: #bde5f8; border: 1px solid #bde5f8; color: #00529B; }
.information p { margin: 2px; }

.success { -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 116.667%; margin: 3px; padding: 6px; font-weight: normal; background-color: #dff2bf; border: 1px solid #dff2bf; color: #4F8A10; }
.success p { margin: 2px; }

.easyinput { padding: 5px; font-size: 1.2em; }

table.adminslist { margin: 0px; width: 100%; }
table.adminslist h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
table.adminslist thead tr th { background-color: #fff; }
table.adminslist thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
table.adminslist thead tr th a:hover { text-decoration: underline; }
table.adminslist tbody tr.odd td { background-color: #fff; }
table.adminslist tbody tr.even td { background-color: #fbfbfb; }
table.adminslist tbody tr td.name { font-weight: bold; }
table.adminslist tbody tr td { padding: 9px; }

table.userlist { margin: 0px; width: 100%; }
table.userlist h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
table.userlist thead tr th { background-color: #fff; }
table.userlist thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
table.userlist thead tr th a:hover { text-decoration: underline; }
table.userlist tbody tr.odd td { background-color: #fff; }
table.userlist tbody tr.even td { background-color: #fbfbfb; }
table.userlist tbody tr td.name { font-weight: bold; }
table.userlist tbody tr td { padding: 9px; }

form.passwordchange table { margin: 0px; width: 50%; }
form.passwordchange table h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
form.passwordchange table thead tr th { background-color: #fff; }
form.passwordchange table thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
form.passwordchange table thead tr th a:hover { text-decoration: underline; }
form.passwordchange table tbody tr.odd td { background-color: #fff; }
form.passwordchange table tbody tr.even td { background-color: #fbfbfb; }
form.passwordchange table tbody tr td.name { font-weight: bold; }
form.passwordchange table tbody tr td { padding: 9px; }

form.editaccount table { margin: 0px; width: 50%; }
form.editaccount table h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
form.editaccount table thead tr th { background-color: #fff; }
form.editaccount table thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
form.editaccount table thead tr th a:hover { text-decoration: underline; }
form.editaccount table tbody tr.odd td { background-color: #fff; }
form.editaccount table tbody tr.even td { background-color: #fbfbfb; }
form.editaccount table tbody tr td.name { font-weight: bold; }
form.editaccount table tbody tr td { padding: 9px; }

table.rolelist { margin: 0px; width: 100%; }
table.rolelist h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
table.rolelist thead tr th { background-color: #fff; }
table.rolelist thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
table.rolelist thead tr th a:hover { text-decoration: underline; }
table.rolelist tbody tr.odd td { background-color: #fff; }
table.rolelist tbody tr.even td { background-color: #fbfbfb; }
table.rolelist tbody tr td.name { font-weight: bold; }
table.rolelist tbody tr td { padding: 9px; }

table.grouplist { margin: 0px; width: 100%; }
table.grouplist h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
table.grouplist thead tr th { background-color: #fff; }
table.grouplist thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
table.grouplist thead tr th a:hover { text-decoration: underline; }
table.grouplist tbody tr.odd td { background-color: #fff; }
table.grouplist tbody tr.even td { background-color: #fbfbfb; }
table.grouplist tbody tr td.name { font-weight: bold; }
table.grouplist tbody tr td { padding: 9px; }

#banner { overflow: hidden; display: inline-block; background-color: black; }
#banner { display: block; }
#banner h1 { float: left; color: #f2f2f2; padding: 12px; font-size: 1.5em; }
#banner #userops { float: right; margin-right: 12px; font-weight: bold; color: #f2f2f2; }
#banner #userops a { color: #f2f2f2; cursor: pointer; text-decoration: none; }
#banner #userops a:hover { text-decoration: underline; }

.localnavigation { float: left; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; width: 180px; margin: 0px; padding: 6px; background-color: #f5f5f5; border: 1px solid #d5d5d5; border-top: none; }
.localnavigation ul { list-style-type: none; }
.localnavigation ul li { list-style-type: none; }
.localnavigation h3 { font-size: 1em; font-weight: bold; color: #a6a6a6; }
.localnavigation a { font-size: 1em; font-weight: bold; color: #666666; cursor: pointer; text-decoration: none; }
.localnavigation a:hover { text-decoration: underline; }
.localnavigation ul { margin-left: 6px; margin-bottom: 3px; }

.content { float: left; width: 770px; margin-top: 6px; margin-left: 12px; }

.sections { padding: 0px; }

.section { padding: 18px; border: 1px solid #f2f2f2; }
.section .details { margin: 9px; width: 100%; }
.section .details h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
.section .details thead tr th { background-color: #fff; }
.section .details thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
.section .details thead tr th a:hover { text-decoration: underline; }
.section .details tbody tr.odd td { background-color: #fff; }
.section .details tbody tr.even td { background-color: #fbfbfb; }
.section .details tbody tr td.name { font-weight: bold; }
.section .details tbody tr td { padding: 9px; }
.section h3 { margin: 0px; padding: 0px; font-weight: bold; margin-bottom: 3px; margin-top: 3px; }
.section h4 { margin: 0px; padding: 0px; font-weight: bold; margin-bottom: 3px; margin-top: 18px; }

#currentmembers table td { width: 25%; }
