.error { -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 116.667%; margin: 3px; padding: 6px; font-weight: normal; background-color: #ffbaba; border: 1px solid #ffbaba; color: #D8000C; }
.error p { margin: 2px; }

.information { -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 116.667%; margin: 3px; padding: 6px; font-weight: normal; background-color: #bde5f8; border: 1px solid #bde5f8; color: #00529B; }
.information p { margin: 2px; }

.success { -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 116.667%; margin: 3px; padding: 6px; font-weight: normal; background-color: #dff2bf; border: 1px solid #dff2bf; color: #4F8A10; }
.success p { margin: 2px; }

.easyinput { padding: 5px; font-size: 1.2em; }

.helppopup { margin: 0px; padding: 0px; }
.helppopup .banner { font-size: 116.667%; padding: 9px; text-align: center; }
.helppopup .content { padding: 18px; }
.helppopup .buttons { padding: 12px; text-align: center; }
.helppopup .banner { background-color: #1b4366; color: #fbfbfb; }

.errorpopup { margin: 0px; padding: 0px; }
.errorpopup .banner { font-size: 116.667%; padding: 9px; text-align: center; }
.errorpopup .content { padding: 18px; }
.errorpopup .buttons { padding: 12px; text-align: center; }
.errorpopup .banner { background-color: #870000; color: #fbfbfb; }

.deletepopup { margin: 0px; padding: 0px; }
.deletepopup .banner { font-size: 116.667%; padding: 9px; text-align: center; }
.deletepopup .content { padding: 18px; }
.deletepopup .buttons { padding: 12px; text-align: center; }
.deletepopup .banner { background-color: #870000; color: #fbfbfb; }

.profile { margin-left: auto; margin-right: auto; width: 950px; }
.profile .left { width: 270px; float: left; text-align: center; }
.profile .left .photo { margin-top: 9px; margin-bottom: 9px; }
.profile .left .bio { margin-top: 9px; margin-bottom: 36px; }
.profile .left .controls { width: 190px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-left: auto; margin-right: auto; margin-top: 9px; margin-bottom: 9px; padding: 9px; background-color: #fbfbfb; border: 1px solid #f2f2f2; border-top: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2; text-align: left; }
.profile .left .controls ul { list-style-type: none; }
.profile .left .controls ul li { list-style-type: none; }
.profile .left .controls ul { margin: 0px; }
.profile .left .follow { font-size: 116.667%; margin-top: 18px; margin-bottom: 36px; }
.profile .left .follow table th { padding: 0px; background-color: white; text-align: center; }
.profile .left .follow table td { text-align: center; }
.profile .main { width: 590px; float: left; margin-left: 36px; }
.profile .main h3 { font-size: 133.333%; border-bottom: 1px solid #f2f2f2; font-weight: bold; }
.profile .main table tbody th { width: 190px; color: #464646; }
.profile .main .banner a { color: #666; }
.profile .main .banner strong { font-size: 183.333%; margin: 0px; padding: 0px; font-weight: bold; line-height: 22px; }
.profile .main .banner #activestatus { font-size: 116.667%; margin: 0px; padding: 0px; font-weight: normal; line-height: 22px; }
.profile .main #createstatus { clear: left; width: 550px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 12px; padding: 6px; background-color: #fbfbfb; border: 1px solid #f2f2f2; text-align: center; }
.profile .main #createstatus h3 { margin: 0px; padding: 3px; border: 0px; color: #666; font-weight: normal; text-align: left; }
.profile .main .common { clear: left; }

.socialaccount { width: 470px; padding: 12px; }
.socialaccount .header { width: 310px; font-size: 133.333%; }
.socialaccount .header img { float: left; }
.socialaccount .header a { line-height: 32px; }
.socialaccount .links { width: 390px; }
.socialaccount .description { width: 390px; }
.socialaccount .remove { padding-top: 6px; text-align: right; }

.edit .section { margin: 18px; padding: 6px; }
.edit .section h4 { font-size: 150%; margin: 3px; color: #666; font-weight: bold; }
.edit .section h5 { font-size: 116.667%; margin: 3px; color: #666; font-weight: bold; }
.edit .section .add { -moz-border-radius: 5px; -webkit-border-radius: 5px; clear: all; margin: 6px; padding: 6px; background-color: #fbfbfb; border: 1px solid #f2f2f2; }
.edit .section .socialactions { width: 390px; margin: 9px; margin-bottom: 36px; }

table.phonelist { margin: 0px; width: 100%; }
table.phonelist h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
table.phonelist thead tr th { background-color: #fff; }
table.phonelist thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
table.phonelist thead tr th a:hover { text-decoration: underline; }
table.phonelist tbody tr.odd td { background-color: #fff; }
table.phonelist tbody tr.even td { background-color: #fbfbfb; }
table.phonelist tbody tr td.name { font-weight: bold; }
table.phonelist tbody tr td { padding: 9px; }

.clearstatus { font-size: 100%; }

.statuscreated { font-size: 100%; }

.miniprofile .intro { margin: 0px; }
.miniprofile .overview { margin: 0px; }
