















.error{-moz-border-radius:5px;-webkit-border-radius:5px;font-size:92.308%;margin:5px;padding:10px;font-weight:bold;background-color:#870000;border:1px solid #870000;color:#fff}.information{-moz-border-radius:5px;-webkit-border-radius:5px;font-size:92.308%;margin:5px;padding:10px;font-weight:bold;background-color:blue;border:1px solid blue;color:#fff}.success{-moz-border-radius:5px;-webkit-border-radius:5px;font-size:92.308%;margin:5px;padding:10px;font-weight:bold;background-color:#00872c;border:1px solid #00872c;color:#fff}.easyinput{padding:5px;font-size:1.2em}.helppopup{margin:0px;padding:0px}.helppopup .banner{font-size:107.692%;padding:9px;text-align:center}.helppopup .content{padding:18px}.helppopup .buttons{float:right;padding:18px}.helppopup .banner{background-color:#1b4366;color:#fbfbfb}.errorpopup{margin:0px;padding:0px}.errorpopup .banner{font-size:107.692%;padding:9px;text-align:center}.errorpopup .content{padding:18px}.errorpopup .buttons{float:right;padding:18px}.errorpopup .banner{background-color:#870000;color:#fbfbfb}.deletepopup{margin:0px;padding:0px}.deletepopup .banner{font-size:107.692%;padding:9px;text-align:center}.deletepopup .content{padding:18px}.deletepopup .buttons{float:right;padding:18px}.deletepopup .banner{background-color:#870000;color:#fbfbfb}
.profile{margin-left:auto;margin-right:auto;width:870px}.profile .profileleft{width:270px;float:left}.profile .profilemain{width:590px;float:left}.profile .profilemain h3{font-size:123.077%;border-bottom:1px solid #d2d2d2;font-weight:bold}.profile .profilemain table tbody th{width:190px;color:#464646}.socialaccount{clear:left}.socialaccount .logo{float:left}.socialaccount .details{float:left}
